<h3>Formulaire d'annonce</h3>
<div class="well">

	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
	{{ form_errors(form) }}

	{% if form.date is defined %}

		<div class="form-group">

			{{ form_label(form.date, "Date", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
			{{ form_errors(form.date) }}

			<div class="col-sm-2">

				{{ form_widget(form.date.month, {'attr': {'class': 'form-control'}}) }}

			</div>
			<div class="col-sm-2 ">

				{{ form_widget(form.date.day, {'attr': {'class': 'form-control'}}) }}

			</div>
			<div class="col-sm-2 ">

				{{ form_widget(form.date.year, {'attr': {'class': 'form-control'}}) }}

			</div>
		</div>

	{% endif %}

	<div class="form-group">
	
		{{ form_label(form.title, "Titre de l'annonce", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
		{{ form_errors(form.title) }}

		<div class="col-sm-10">
			
			{{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}

		</div>
	</div>

	<div class="form-group">

		{{ form_label(form.content, "Contenu de l'annonce", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
		{{ form_errors(form.content) }}

		<div class="col-sm-10">

			{{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}

		</div>
	</div>

	<div class="form-group">

		{{ form_label(form.author, "Auteur de l'annonce", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
		{{ form_errors(form.author) }}

		<div class="col-sm-10">

			{{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}

		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<div class="checkbox">
				<label>

					{{ form_widget(form.published) }}

				</label>
			</div>
		</div>
	</div>

	<div class="form-group">

		{{ form_label(form.image.file, "Url de l'image", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
		{{ form_errors(form.image.file) }}

		<div class="col-sm-10">

			{{ form_widget(form.image.file) }}

		</div>
	</div>

	<div class="form-group">

		{{ form_label(form.published, "Publication ?", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

		<div class="col-sm-10">

			{{ form_widget(form.published, {'attr': {'class': 'form-control'}}) }}

		</div>
	</div>

	<div class="form-group">

		{{ form_label(form.categories, "Catégories", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
		{{ form_errors(form.categories) }}

		<div class="col-sm-10">

			{{ form_widget(form.categories, {'attr': {'class': 'form-control template'}}) }}

		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-2 col-sm-offset-2">

			{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
			
		</div>
	</div>

	{{ form_rest(form) }}
	{{ form_end(form) }}
</div>
