<h3>Formulaire d'annonce</h3>
<div class="well">

	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
	{{ form_errors(form) }}

	<div class="form-group">

		{{ form_label(form.date, "Date", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
		{{ form_errors(form.date) }}

		<div class="col-sm-2">

			{{ form_widget(form.date.month, {'attr': {'class': 'form-control'}}) }}

		</div>
		<div class="col-sm-2 ">

			{{ form_widget(form.date.day, {'attr': {'class': 'form-control'}}) }}

		</div>
		<div class="col-sm-2 ">

			{{ form_widget(form.date.year, {'attr': {'class': 'form-control'}}) }}

		</div>
	</div>

	<div class="form-group">
	
		{{ form_label(form.title, "Titre de l'annonce", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
		{{ form_errors(form.title) }}

		<div class="col-sm-10">
			
			{{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}

		</div>
	</div>

	<div class="form-group">

		{{ form_label(form.content, "Contenu de l'annonce", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
		{{ form_errors(form.content) }}

		<div class="col-sm-10">

			{{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}

		</div>
	</div>

	<div class="form-group">

		{{ form_label(form.author, "Auteur de l'annonce", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
		{{ form_errors(form.author) }}

		<div class="col-sm-10">

			{{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}

		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<div class="checkbox">
				<label>

					{{ form_widget(form.published) }}

				</label>
			</div>
		</div>
	</div>
	
	<div class="form-group">

		{{ form_label(form.image.url, "Url de l'image", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
		{{ form_errors(form.image.url) }}

		<div class="col-sm-10">

			{{ form_widget(form.image.url, {'attr': {'class': 'form-control'}}) }}

		</div>
	</div>
	
	<div class="form-group">

		{{ form_label(form.image.alt, "Légende de l'image", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
		{{ form_errors(form.image.alt) }}

		<div class="col-sm-10">

			{{ form_widget(form.image.alt, {'attr': {'class': 'form-control'}}) }}

		</div>
	</div>

	<div class="form-group">

		{{ form_label(form.published, "Publication ?", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

		<div class="col-sm-10">

			{{ form_widget(form.published, {'attr': {'class': 'form-control'}}) }}

		</div>
	</div>

	<div class="form-group">

		{{ form_label(form.categories, "Catégories", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
		{{ form_errors(form.categories) }}

		<div class="col-sm-10">

			{{ form_widget(form.categories, {'attr': {'class': 'form-control template'}}) }}

		</div>
	</div>

	<div id="template-container"></div>

	<div class="form-group">
		<div class="col-sm-2 col-sm-offset-2">
			<a href="#" id="add_category" class="btn btn-default">Ajouter une catégorie</a>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-2 col-sm-offset-2">

			{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
			
		</div>
	</div>

	{{ form_rest(form) }}
	{{ form_end(form) }}
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">

	$(document).ready(function() {
		var container = $('div#template-container');
		var dataPrototype = '<div class="form-group"><label class="control-label col-sm-2">__name__label__</label><div id="oc_platformbundle_advert_categories___name__" class="col-sm-10"><div class="form-group"><label class="control-label col-sm-2" for="oc_platformbundle_advert_categories___name___name">Name</label><div class="col-sm-10"><input type="text" id="oc_platformbundle_advert_categories___name___name" name="oc_platformbundle_advert[categories][__name__][name]" class="form-control" /></div></div></div></div>';

		$("#add_category").click(function(e) {
			newPrototype(dataPrototype);
			e.preventDefault();
		})

		function newPrototype(dp) {
			var inputs = container.find(':input').length;
			var newPrototype = dp
				.replace(/__name__label__/g, 'Catégorie n°' + (inputs + 1))
				.replace(/__name__/g, inputs); 

			container.append(newPrototype);
		}; 
	});    
</script>
