{% extends "@OCPlatform/layout.html.twig" %}

{% block title %}
  Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
  <div>
    <h2>{{ advert.title }}</h2>
    <i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>
    
    {% if advert.image %}
    <div>
      <img src="{{ advert.image.url }}" alt="{{ advert.image.alt }}" />
    </div>
    {% endif %}

    <div class="well">
      {{ advert.content }}
    </div>

    <p>
      <a href="{{ path('oc_platform_home') }}" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Retour à la liste
      </a>
      <a href="{{ path('oc_platform_edit', {'id': advert.id}) }}" class="btn btn-default">
        <i class="glyphicon glyphicon-edit"></i>
        Modifier l'annonce
      </a>
      <a href="{{ path('oc_platform_delete', {'id': advert.id}) }}" class="btn btn-danger">
        <i class="glyphicon glyphicon-trash"></i>
        Supprimer l'annonce
      </a>
    </p>
  </div>
  
  <div>
    {% if listAdvertSkills|length > 0 %}
      <p>Cette annonce requiert les compétences suivantes :</p>
      <ul>
        {% for advertSkill in listAdvertSkills %} 
        <li>{{ advertSkill.skill.name }} : niveau {{ advertSkill.level }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Cette annonce ne requiert pas de compétence, tentez votre chance !</p>
    {% endif %}
  </div>

  <div>
    {% if not advert.categories.empty %}
    <p>
      Cette annonce est parue dans les categories suivantes :
      {% for category in advert.categories %}
        {{ category.name }} {% if not loop.last %},{% endif %}
      {% endfor %}
    <p>
    {% else %}
      <p>Cette annonce n'est rattachée à aucune catégorie</p>
    {% endif %}
  </div>

  <div>
    <h2>Les candidatures</h2>
    {% for application in listApplication %}
      <p>Par {{ application.author }}, le {{ application.date|date('d/m/Y') }}</p>
      <div class="well">
      {{ application.content }}
    </div>
    {% else %}
      <p class="alert alert-info">Pas de candidatures pour le moment, soyez la première personnes à candidater !</p>
    {% endfor %}
  </div>
{% endblock %}